

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.44em;
    --top-offset: 23.81vh;
    --fall-duration: 6.72s;
    --fall-delay: 2.798s;
  }
  .star:nth-child(2) {
    --star-tail-length: 7.08em;
    --top-offset: 77.08vh;
    --fall-duration: 11.634s;
    --fall-delay: 6.968s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.6em;
    --top-offset: 39.45vh;
    --fall-duration: 10.911s;
    --fall-delay: 2.048s;
  }
  .star:nth-child(4) {
    --star-tail-length: 7.13em;
    --top-offset: 89.45vh;
    --fall-duration: 6.591s;
    --fall-delay: 0.688s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.15em;
    --top-offset: 78.32vh;
    --fall-duration: 10.688s;
    --fall-delay: 3.134s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.52em;
    --top-offset: 69.92vh;
    --fall-duration: 7.697s;
    --fall-delay: 5.786s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.25em;
    --top-offset: 94.97vh;
    --fall-duration: 10.793s;
    --fall-delay: 0.673s;
  }
  .star:nth-child(8) {
    --star-tail-length: 6.16em;
    --top-offset: 9.21vh;
    --fall-duration: 11.008s;
    --fall-delay: 7.019s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.96em;
    --top-offset: 75.92vh;
    --fall-duration: 6.448s;
    --fall-delay: 3.235s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.28em;
    --top-offset: 10.96vh;
    --fall-duration: 10.51s;
    --fall-delay: 0.117s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.68em;
    --top-offset: 33.59vh;
    --fall-duration: 10.938s;
    --fall-delay: 1.71s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.41em;
    --top-offset: 4.25vh;
    --fall-duration: 8.582s;
    --fall-delay: 2.953s;
  }
  .star:nth-child(13) {
    --star-tail-length: 5.54em;
    --top-offset: 52.61vh;
    --fall-duration: 11.865s;
    --fall-delay: 2.517s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.78em;
    --top-offset: 98.16vh;
    --fall-duration: 11.3s;
    --fall-delay: 3.421s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.29em;
    --top-offset: 18.04vh;
    --fall-duration: 9.792s;
    --fall-delay: 4.17s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.14em;
    --top-offset: 94.03vh;
    --fall-duration: 10.439s;
    --fall-delay: 0.098s;
  }
  .star:nth-child(17) {
    --star-tail-length: 6.12em;
    --top-offset: 16.05vh;
    --fall-duration: 7.917s;
    --fall-delay: 1.785s;
  }
  .star:nth-child(18) {
    --star-tail-length: 7.37em;
    --top-offset: 50.51vh;
    --fall-duration: 10.46s;
    --fall-delay: 7.849s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.09em;
    --top-offset: 97.48vh;
    --fall-duration: 11.597s;
    --fall-delay: 3.929s;
  }
  .star:nth-child(20) {
    --star-tail-length: 7.41em;
    --top-offset: 38.52vh;
    --fall-duration: 9.355s;
    --fall-delay: 3.309s;
  }
  .star:nth-child(21) {
    --star-tail-length: 7.02em;
    --top-offset: 62.87vh;
    --fall-duration: 9.7s;
    --fall-delay: 5.481s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.01em;
    --top-offset: 8.64vh;
    --fall-duration: 8.716s;
    --fall-delay: 4.172s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.76em;
    --top-offset: 5.89vh;
    --fall-duration: 9.085s;
    --fall-delay: 8.901s;
  }
  .star:nth-child(24) {
    --star-tail-length: 7.42em;
    --top-offset: 0.39vh;
    --fall-duration: 10.005s;
    --fall-delay: 6.146s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.3em;
    --top-offset: 50.58vh;
    --fall-duration: 11.53s;
    --fall-delay: 9.086s;
  }
  .star:nth-child(26) {
    --star-tail-length: 7.16em;
    --top-offset: 50.99vh;
    --fall-duration: 7.512s;
    --fall-delay: 1.056s;
  }
  .star:nth-child(27) {
    --star-tail-length: 7.33em;
    --top-offset: 28.26vh;
    --fall-duration: 7.8s;
    --fall-delay: 2.669s;
  }
  .star:nth-child(28) {
    --star-tail-length: 5.83em;
    --top-offset: 52.28vh;
    --fall-duration: 11.166s;
    --fall-delay: 8.441s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.88em;
    --top-offset: 33.2vh;
    --fall-duration: 9.454s;
    --fall-delay: 4.563s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.2em;
    --top-offset: 14.38vh;
    --fall-duration: 7.827s;
    --fall-delay: 1.079s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.97em;
    --top-offset: 9.64vh;
    --fall-duration: 9.343s;
    --fall-delay: 0.576s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.6em;
    --top-offset: 11.74vh;
    --fall-duration: 8.641s;
    --fall-delay: 0.649s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.84em;
    --top-offset: 99.51vh;
    --fall-duration: 9.584s;
    --fall-delay: 6.222s;
  }
  .star:nth-child(34) {
    --star-tail-length: 7.01em;
    --top-offset: 93.28vh;
    --fall-duration: 11.632s;
    --fall-delay: 9.742s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.52em;
    --top-offset: 33.42vh;
    --fall-duration: 9.455s;
    --fall-delay: 5.423s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.89em;
    --top-offset: 46.23vh;
    --fall-duration: 6.937s;
    --fall-delay: 4.997s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.75em;
    --top-offset: 15.56vh;
    --fall-duration: 9.885s;
    --fall-delay: 8.893s;
  }
  .star:nth-child(38) {
    --star-tail-length: 7.25em;
    --top-offset: 6.9vh;
    --fall-duration: 6.662s;
    --fall-delay: 2.796s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.35em;
    --top-offset: 21.02vh;
    --fall-duration: 8.231s;
    --fall-delay: 7.262s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.44em;
    --top-offset: 50.4vh;
    --fall-duration: 9.355s;
    --fall-delay: 5.176s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.79em;
    --top-offset: 89.09vh;
    --fall-duration: 11.253s;
    --fall-delay: 8.683s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.02em;
    --top-offset: 22.28vh;
    --fall-duration: 11.701s;
    --fall-delay: 3.211s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.82em;
    --top-offset: 64.53vh;
    --fall-duration: 9.395s;
    --fall-delay: 4.893s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.22em;
    --top-offset: 31.17vh;
    --fall-duration: 9.08s;
    --fall-delay: 6.126s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.67em;
    --top-offset: 45.69vh;
    --fall-duration: 10.405s;
    --fall-delay: 5.972s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.34em;
    --top-offset: 47.99vh;
    --fall-duration: 7.885s;
    --fall-delay: 6.378s;
  }
  .star:nth-child(47) {
    --star-tail-length: 7.15em;
    --top-offset: 0.46vh;
    --fall-duration: 9.02s;
    --fall-delay: 3.975s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.96em;
    --top-offset: 33.96vh;
    --fall-duration: 9.293s;
    --fall-delay: 6.394s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.32em;
    --top-offset: 77.68vh;
    --fall-duration: 9.827s;
    --fall-delay: 4.948s;
  }
  .star:nth-child(50) {
    --star-tail-length: 7.45em;
    --top-offset: 65.8vh;
    --fall-duration: 10.629s;
    --fall-delay: 2.732s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }